<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>    
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/Scripts/style.bundle.css">
</head>
<body>
	@RenderBody()
	<script src='/Scripts/vendor.bundle.js'></script>
	<script src='/Scripts/main.bundle.js'></script>
</body>
</html>
